
.ads-wall{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}
.card-container {
    margin: 20px auto;
    border: 2px solid black;
    overflow: hidden;
}
.card-container .ad {
    display: flex;
    flex-direction: row;
    width: 600px;
    max-height: 300px;
    padding: 10px;

}
.info {
    width: 60%;
}
.image-container {
    width: 40%;
}

.image {
    max-width: 100%;
}
