.ads-wall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card-container {
    border: 2px solid black;
    min-width: 320px;
    margin: 20px auto;
}