.ads-wall{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.card-container {
    min-width: 320px;
    max-width: 600px;
    margin: 20px auto;
}
.card-container img {
    max-width: 100%;
}