.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(82, 82, 82);
    margin-bottom: 10px;
  }
  .navBar #logo {
    color:white;
    margin-left: 10px;
  }
  .navBar .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
  }
  
  .logo-link:hover{
    color: black;
  }

  .linkBack {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }

  .linkBack:hover {
    color: rgb(68, 187, 226);
    text-decoration: none;
  }