.loginBackground {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../resources/login-background.jpg");
    min-height: 100vh;
    min-width: 100vw;
    margin-top: -10px;
}

.loginContainer {
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0.853);
    padding: 10px;
}

.loginContainer h1 {
    display: inline-block;
    align-self: center;
}

.problem-logging > a {
    margin-right: 8px;
    color: rgb(117, 117, 117);
}